<% layout("layouts/boilerplate") %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
            <%=err.message %>
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nisi harum voluptate minus optio ipsa velit
            vero pariatur labore. Laborum maiores quasi consectetur, et quis labore obcaecati perferendis tempore alias!
        </p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>