<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
    <h1>Campground Not Found</h1>
    <p>Sorry, we could not find a campground with ID: <%= id %>
    </p>
</body>

</html>